@{
    ViewData["Title"] = "Home Page";
    string Message = "";

    if(ViewData["Success"] is bool)
    {
        if((bool)ViewData["Success"])
        {
            Message = "Number Saved Successfully to Database";
        } else {
            Message = "Failed to Save Number";
        }
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @using (Html.BeginForm("OnPost", "Home"))
    {
        <label for="numbers">Enter Integer Numbers:</label>
        <input type="number" name="number_input" value="" />
        <br>
        <label>Sort Type:</label>
        <select name="sort_type_input">
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
        </select>
        <br>
        <input type="submit" value="Submit" />
    }

    <p>@Message</p>
</div>
