@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @using (Html.BeginForm("OnPost", "Home"))
    {
        <label for="numbers">Enter Integer Numbers:</label>
        <input type="number" name="number_input" value="" />
        <br>
        <label>Sort Type:</label>
        <select name="sort_type_input">
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
        </select>
        <br>
        <input type="submit" value="Submit" />
    }

    <p>@ViewData["numbers"]</p>
</div>
